<ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content class="create">
      <ion-card class="create-account-cont">
          <ion-card-content>
              <p>Please enter the code that we sent
                  to your email address.</p>
              <p></p>
  
              <form action="">
                <input type="text" name="phone" placeholder="5-Digit Code*" />
                <input type="password" name="password" placeholder="New Password*" />
                <input type="submit" name="submit" value="Change Password" [routerLink]="['/password-success']" routerLinkActive="router-link-active"  class="createbtn" />
              </form>    
          </ion-card-content>
      </ion-card>

      <div class="ads">Advertisement Here</div>
  </ion-content>